<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kitap Önerileri</title>
        <link rel="stylesheet" href="../static/styles.css"> <!-- CSS dosyasını bağlama -->
        <script src="../static/scripts.js" defer></script> <!-- JavaScript dosyasını ekle -->
    </head>
    
<body class="bilimK-body"> <!-- class ekleyin -->
    <header>
        <div class="header-container">
            <img src="../static/bilim-kurgu-sol.jpg" alt="Sol Resim" class="side-image left" width="200" height="250"> <br>
            
        </div>
        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/dklasik">Dünya Klasikleri</a></li>
                <li><a href="/tklasik">Türkiye Edebiyatında İlkler</a></li>
                <li><a href="/polisiye">Polisiye</a></li>
                <li><a href="/romanlar">Romanlar</a></li>
                <li><a href="/siirler">Şiirler</a></li>
            </ul>
        </nav>
        <img src="../static/bilim-kurgu-sag.jpg" alt="Sağ Resim" class="side-image right" width="200" height="250">
    </header>

    <h2 style="font-family: Garamond; color: whitesmoke;"> Bilim Kurgu </h2>
    <section style="background-color :#4B0000;" id="turkE" >
    
        <article style="background-color:#800000">

            <h4 style="font-family: Arial, sans-serif; color: white; margin-left: 30px;">Olasılıksız, Adam Fawer
            </h4>
              
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb1">
                    <img src="../static/Olasılıksız.jpg"  class="left-image" width="250" id="bookImage18">
                        <p style="color: #000033;">David Caine, olasılık teorileri üzerinde farklı bir eğitimci, kumar tutkusuyla büyük bir borcaya maruz kalmış ve beyindeki sorunlar nedeniyle nöbetçiler geçirmektedir. Deneysel bir tedavi başlatmak zorunda kalıyor. 
                            <span id="dots18">...</span>
                            <span id="more-text18" class="more-text">
                            Aynı zamanda CIA ajanı Nava Vaner, gizli bilgileri satarken yakalanma korkusuyla NSA'e geçiş yapar ve burada Dr. Tversky'nin gelecekte görme potansiyeli üzerine bir araştırma yapabileceğini keşfeder. Dr. Tversky, insan beynini geliştirerek geleceği tahmin etme üzerine deneyler sırasında bir öğrencinin ölümüyle birlikte bir olay yaşar. Caine, diğer insanların peşinde olduğu bu olayın sonunda yerleşir ve geleceği görme yeteneğini kazandığını fark eder. Nava ile birlikte kaçarken, Caine'in tahminleri gerçekleşmeye başlar ve onun bir planında yer aldığını anlar. Sonunda mükemmel bir kaçış planı hazırlayan Caine, peşindekilerin onu yakalamasını bekler ve ardından olağandışı olaylar başlar
                        </span>
                        <button onclick="toggleText('dots18', 'more-text18', 'read-more-btn18')" id="read-more-btn18" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                        
                        </p>
                        <img src="../static/adam-fawer.jpg" class="right-image" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            
            </div>
            
        </article> 
           
        <article style="background-color:#800000">

            <h4 style="font-family: Arial, sans-serif; color: white; margin-left: 30px;">Görünmez Adam ,H. G.Wells</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb2">
                    <img src="../static/gorunmez-adam.jpg"  class="left-image" width="250" id="bookImage19">
                    
                        <p style="color: #000033;">Roman, bir bilim insanı olan Griffin'in hikayesini anlatır. Griffin, bir gün görünmez olmanın yolunu keşfeder ve bu keşfi üzerine deneyler yaparak kendisini görünmez hale getirmeyi başarır. Ancak, görünmezlik onun zihinsel dengesini de bozar. Bu süreçte, Griffin'in moral çöküşü ve giderek daha tehlikeli bir karaktere dönüşmesi anlatılır.

                            Görünmezlik, Griffin'e büyük bir güç verir, ancak bu güç onu insanlar ve toplumdan giderek daha fazla uzaklaştırır. Griffin, görünmezliğini kullanarak hırsızlık, şiddet ve korku yaratmaya başlar. 
                            <span id="dots19">...</span>
                            <span id="more-text19" class="more-text">
                                Aynı zamanda, insanlar ona karşı bir tehdit olarak tepki verir, bu da Griffin’in giderek daha da yalnızlaşmasına yol açar.
                            
                                Roman, Griffin’in görünmezlik ile elde ettiği gücün onun akıl sağlığını nasıl bozduğunu ve insanlıkla olan bağlarını nasıl kopardığını inceler. Griffin’in en başta iyi niyetlerle başladığı bu yolculuk, nihayetinde onun trajik bir sona ulaşmasına neden olur.
                            </span>
                            <button onclick="toggleText('dots19', 'more-text19', 'read-more-btn19')" id="read-more-btn19" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                       
                        </p>
                        <img src="../static/H.G.-Wells.jpg" class="right-image" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            
        </article> 

        <article style="background-color:#800000">

            <h4 style="font-family: Arial, sans-serif; color: white; margin-left: 30px;">Dune ,Frank Herbert</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb3">
                    <img src="../static/dune.jpg"  class="left-image" width="250" id="bookImage20">
                    
                        <p style="color: #000033;">
                            Dune, uzak gelecekteki Arrakis gezegeninde geçen bir hikâyeyi anlatır. Arrakis, evrendeki en değerli madde olan melanj (baharat) kaynağını barındırır. Baharat, yaşamı uzatan, bilinci genişleten ve gezegenler arası seyahati mümkün kılan bir maddedir, bu nedenle Arrakis’in kontrolü büyük bir güç anlamına gelir.
                            <span id="dots20">...</span>
                            <span id="more-text20" class="more-text">
                            Hikâye, Atreides ailesinin varisi olan Paul Atreides’in etrafında şekillenir. Ailesi, Arrakis'e tayin edildikten kısa süre sonra Harkonnenler tarafından tuzağa düşürülür. Ailesinin intikamını almak ve Arrakis’i ele geçirmek için Paul, Fremenler ile tanışır ve onların kültürünü benimser. Paul, Muad'Dib olarak bilinen, büyük bir kehaneti yerine getirebilecek bir figür haline gelir. Roman, Paul’un liderlik yolculuğunu ve evrenin kaderini şekillendirme mücadelesini anlatır.
                            </span>
                            <button onclick="toggleText('dots20', 'more-text20', 'read-more-btn20')" id="read-more-btn20" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                        
                        </p>
                        <img src="../static/frank-herbert.jpg" class="right-image" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            


        </article>

        <article style="background-color:#800000">

            <h4 style="font-family: Arial, sans-serif; color: white; margin-left: 30px;">Fahrenheit 451 ,Ray Bradbury</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb4">
                    <img src="../static/fahrenheit.jpg"  class="left-image" width="250" id="bookImage21">
                    
                        <p style="color: #000033;">
                            Fahrenheit 451, Ray Bradbury'nin 1953 yılında yayımlanan distopik bilim kurgu romanıdır. Roman, kitapların yasaklandığı ve "itfaiyecilerin" kitapları yakmakla görevli olduğu bir gelecekte geçer. Ana karakter Guy Montag, bir itfaiyecidir ve başlangıçta kitapları yaklamaktan gurur duyar.
                            <span id="dots21">...</span>
                            <span id="more-text21" class="more-text">
                            Ancak, bir gün bir kadın kitaplarını yakmaya karşı direnince, Montag'in dünyası sarsılır. Kitaplara ve özgür düşünceye olan ilgisi artar. Montag, sistemin baskılarına karşı direnmeye karar verir, kendi içsel sorgulamalarını başlatır ve toplumu değiştirmeye çalışır. Roman, sansür, özgürlük ve düşünceyi kısıtlama üzerine derin bir eleştiri sunar.
                            </span>
                            <button onclick="toggleText('dots21', 'more-text21', 'read-more-btn21')" id="read-more-btn21" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                        
                        </p>
                        <img src="../static/ray-bradbury.jpg" class="right-image" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
           

        </article>

        <article style="background-color:#800000">

            <h4 style="font-family: Arial, sans-serif; color: white; margin-left: 30px;">Üç Cisim Problemi ,Cixin Liu</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb5">
                    <img src="../static/uc-cisim.jpg"  class="left-image" width="250" id="bookImage22">
                    
                        <p style="color: #000033;">
                            Roman, Çin’in kültürel devrimi döneminde başlar ve günümüzle paralel bir zamanda geçer. Ana hikâye, Ye Wenjie adında bir bilim insanının, dünya dışı bir uygarlıkla iletişime geçmek için yaptığı bir keşif ile başlar. Bu keşif, uzayda "Üç Cisim Problemi" olarak bilinen bir kozmolojik bulmacayı çözmeye çalışan bir uzaylı medeniyetine yol açar.
                            <span id="dots22">...</span>
                            <span id="more-text22" class="more-text">
                            Dünya ile bu uzaylı uygarlık arasındaki temasın, insanlık ve uzaylılar arasındaki güç dengesini nasıl etkileyebileceğini ve insanlığın varoluşunu tehdit edebilecek bir durumu inceler. Üç Cisim Problemi, bilim, felsefe, toplum ve insanlıkla ilgili derin sorulara yer verirken, uzaylı uygarlıklarla iletişim, fiziksel ve teknolojik gelişmeler gibi bilimsel unsurları da ele alır. 
                            </span>
                            <button onclick="toggleText('dots22', 'more-text22', 'read-more-btn22')" id="read-more-btn22" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                    
                        </p>
                        <img src="../static/Cixin-Liu.jpg" class="right-image" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>    
            

        </article>

        <article style="background-color:#800000">

            <h4 style="font-family: Arial, sans-serif; color: white; margin-left: 30px;">1984 ,George Orwell</h4>
            <div class="images-text-wrapper">
                <div class="TurkEdeb6">
                    <img src="../static/1984.jpg"  class="left-image" width="250" id="bookImage23">
                    
                        <p style="color: #000033;">

                            Roman, totaliter bir rejimin hüküm sürdüğü, sürekli gözetim ve baskı altında yaşayan bir toplumda geçer. Winston Smith, hükümetin propaganda dairesinde çalışan, düzeni sorgulamaya başlayan bir adamdır. Toplum, Büyük Birader adı verilen bir lider tarafından yönetilmekte, bireyler sürekli olarak izlenmekte ve düşünceleri bile kontrol edilmektedir.
                            <span id="dots23">...</span>
                            <span id="more-text23" class="more-text">
                            Winston, bu totaliter rejime karşı içsel bir isyan başlatır, ancak zamanla rejimin ne kadar güçlü ve baskıcı olduğunu keşfeder. Roman, totalitarizmin, düşünce özgürlüğünü baskılamanın ve bireysel hakların yok edilmesinin tehlikelerini gözler önüne serer. Orwell, 1984'te, sansür, gözaltı, propaganda ve özgürlüklerin kısıtlanması gibi temalarla, toplumsal eleştirisini yapar.
                            </span>
                            <button onclick="toggleText('dots23', 'more-text23', 'read-more-btn23')" id="read-more-btn23" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                    
                        </p>
                        <img src="../static/George-Orwell.jpg" class="right-image" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
           
        </article>

        <article style="background-color:#800000">

            <h4 style="font-family: Arial, sans-serif; color: white; margin-left: 30px;">Göçebe ,Stephenie Meyer</h4>
            <div class="images-text-wrapper">
                <div class="TurkEdeb7">
                    <img src="../static/gocebe.jpg"  class="left-image" width="250" id="bookImage24">
                    
                        <p style="color: #000033;">

                            Göçebe (The Host), Stephenie Meyer'in 2008 yılında yayımlanan bilim kurgu romanıdır. Roman, insanlığın, gezegenimize istilacı uzaylıların yerleşmesiyle tehlike altına girdiği bir dünyada geçer. Bu uzaylılar, "Misafir" olarak bilinen parazitlerdir ve insanların bedenlerine yerleşip onları kontrol ederler.
                            <span id="dots24">...</span>
                            <span id="more-text24" class="more-text">
                            Ana karakter Melanie Stryder, bir Misafir tarafından vücuda yerleştirilen bir insandır. Ancak, Melanie'nin ruhu hala yaşamaktadır ve Misafir, onun zihnini kontrol etmekte zorlanır. Melanie, kaybolan sevgilisi Jared ve kardeşi Jamie'yi bulmak için Misafir'le savaşmaya karar verir. İki bilinçli varlık, bir bedende birlikte hayatta kalmak için mücadele eder. Göçebe, sevgi, aidiyet, insanlık ve özdeşleşme gibi temalarla, kimlik ve içsel çatışmalar etrafında döner.
                            </span>
                            <button onclick="toggleText('dots24', 'more-text24', 'read-more-btn24')" id="read-more-btn24" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                    
                        </p>
                        <img src="../static/stephan-meyer.jpg" class="right-image" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            
        </article>

        <article style="background-color:#800000">

            <h4 style="font-family: Arial, sans-serif; color: white; margin-left: 30px;">Mülksüzler ,Ursula K. Le Guin</h4>
            <div class="images-text-wrapper">
                <div class="TurkEdeb8">
                    <img src="../static/mulksuzler.jpg"  class="left-image" width="250" id="bookImage25">
                    
                        <p style="color: #000033;">

                            Roman, iki zıt gezegende yaşayan insan topluluklarını ve bu toplumların politik, sosyal ve ekonomik yapılarındaki farkları keşfeder.
                            Ana karakter Shevek, bir fizikçidir ve her iki gezegenin de arasındaki kültürel çatışmaları anlamaya çalışır. Anarres, özgürlükçü, anarşist bir toplumdur, mülkiyetin ve sınıf ayrımlarının olmadığı bir dünyadır, ancak bu ideallerin pratikte birçok sınırlamaları ve zorlukları vardır.
                            <span id="dots25">...</span>
                            <span id="more-text25" class="more-text">
                            Urras ise kapitalist ve hiyerarşik bir toplumdur, zenginlik ve güç büyük ölçüde birkaç elitin elindedir.
                            Shevek, bilimsel bir keşif yapabilmek için bu iki gezegen arasında yolculuk yapar, fakat her iki toplumda da kendisini bir yabancı gibi hisseder. Mülksüzler, özgürlük, eşitlik, toplum düzeni ve bireysel haklar üzerine derin felsefi sorular sorar. Le Guin, bu eseriyle, toplumların yapısı, insan doğası ve bireysel özgürlük hakkında geniş bir tartışma sunar.
                            </span>
                            <button onclick="toggleText('dots25', 'more-text25', 'read-more-btn25')" id="read-more-btn25" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                    
                        </p>
                        <img src="../static/ursula.jpg" class="right-image" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            
        </article>


        <script>

                document.addEventListener("DOMContentLoaded", function() {
                        toggleText('dots18', 'more-text18', 'read-more-btn18')
                        toggleText('dots19', 'more-text19', 'read-more-btn19')
                        toggleText('dots20', 'more-text20', 'read-more-btn20')
                        toggleText('dots21', 'more-text21', 'read-more-btn21')
                        toggleText('dots22', 'more-text22', 'read-more-btn22')
                        toggleText('dots23', 'more-text23', 'read-more-btn23');
                        toggleText('dots24', 'more-text24', 'read-more-btn24'); 
                        toggleText('dots25', 'more-text25', 'read-more-btn25');     
                        
                        // Sayfa yüklenirken metni kısalt
                    });
                function toggleText(dotsId, moreTextId, btnId) {
                var dots = document.getElementById(dotsId);
                var moreText = document.getElementById(moreTextId);
                var btnText = document.getElementById(btnId);
            
                if (moreText.style.display === "none") {
                    moreText.style.display = "inline";
                    dots.style.display = "none";
                    btnText.innerHTML = "Daha Az Göster";
                } else {
                    moreText.style.display = "none";
                    dots.style.display = "inline";
                    btnText.innerHTML = "Devamını Oku";
                }
            }
        </script>
    
    
    
    </section>





    <script>
        // Sayfa yüklendiğinde localStorage'dan mevcut favorileri al
        let favorites = JSON.parse(localStorage.getItem('favorites')) || [];
    
        function addToFavorites(imageId) {
            const imageSrc = document.getElementById(imageId).src;
            
            if (!favorites.includes(imageSrc)) {
                favorites.push(imageSrc);
                alert("Kitap favorilere eklendi!");
            } else {
                favorites = favorites.filter(fav => fav !== imageSrc); // Favorilerden çıkar
                alert("Kitap favorilerden çıkarıldı!");
            }
            
            localStorage.setItem('favorites', JSON.stringify(favorites)); // Favorileri localStorage'a kaydet
            displayFavorites(); // Favorileri güncelle
        }
    
        function displayFavorites() {
            const favoritesDisplay = document.getElementById('favoritesDisplay');
            favoritesDisplay.innerHTML = ''; // Önceki içerikleri temizle
    
            favorites.forEach(src => {
                const img = document.createElement('img');
                img.src = src;
                img.className = 'favorite-image'; // CSS sınıfı
                favoritesDisplay.appendChild(img);
            });
        }
    
        // Sayfa yüklendiğinde favorileri göster
        displayFavorites();
    </script>

    <footer style="color: whitesmoke; font-weight:700;">
        <p>&copy; 2024 Kitap Önerileri. Tüm Hakları Saklıdır.</p>
    </footer>

</body>
</html>
