<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kitap Önerileri</title>
        <link rel="stylesheet" href="../static/styles.css"> <!-- CSS dosyasını bağlama -->
        <script src="../static/scripts.js" defer></script> <!-- JavaScript dosyasını ekle -->
    </head>
    
<body class="romanlar-body"> <!-- class ekleyin -->
    <header>
        <div class="header-container">
            <img src="../static/romanlar-left.jpg" alt="Sol Resim" class="side-image left" width="200" height="250"> <br>
            
        </div>
        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/dklasik">Dünya Klasikleri</a></li>
                <li><a href="/tklasik">Türkiye Edebiyatında İlkler</a></li>
                <li><a href="/bilimk">Bilim Kurgu</a></li>
                <li><a href="/polisiye">Polisiye</a></li>
                <li><a href="/siirler">Şiirler</a></li>
            </ul>
        </nav>
        <img src="../static/romanlar-right.jpg" alt="Sağ Resim" class="side-image right" width="200" height="250">
    </header>

    <h2 style="font-family: Garamond; color: whitesmoke;"> Romanlar </h2>
    <section style="background-color :#E4CDA7" id="turkE" >
    
        <article style="background-color:#FAF0E6">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;">Serenad ,Zülfü Livaneli
            </h4>
              
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb1">
                    <img src="../static/serenad.jpg"  class="left-image" width="250" id="bookImage26">
                        <p style="color: #000033;">
                            Roman, Mehmet adında bir öğretmenin hikayesini takip eder. Mehmet, Almanya'da yaşayan bir Türk'tür ve bir gün İstanbul'da yaşayan Selim adında yaşlı bir adamın oğlunun ölümünü araştırmak üzere çağrılır. Bu çağrı, Mehmet’in hayatını dönüştürecek bir yolculuğun başlangıcı olur. Oğulun ölümünün ardındaki sırları anlamak için İstanbul'a gelen Mehmet, burada, geçmişin derinliklerine inmek zorunda kalır.
                            <span id="dots26">...</span>
                            <span id="more-text26" class="more-text">   
                                Selim'in geçmişi, Naziler dönemi ve Türk-Alman ilişkileri ile iç içe geçmiştir. Bu geçmiş, Mehmet'i yalnızca kişisel bir araştırmaya değil, aynı zamanda büyük bir tarihsel sorgulamaya da sürükler. Selim'in, Nazilerle bağlantılı geçmişi, ona ve çevresine unutulmuş bir tarihi hatırlatır. Ayrıca, bir aşk hikayesinin de peşinden sürüklenir, ancak bu aşk geçmişte kaybolmuş, yarım kalmış bir aşktır.
                            </span>
                        <button onclick="toggleText('dots26', 'more-text26', 'read-more-btn26')" id="read-more-btn26" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                        
                        </p>
                        <img src="../static/livaneli.jpg" class="right-image-roman" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            
            </div>
            
        </article> 
           
        <article style="background-color:#FAF0E6">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;"> Kürk Mantolu Madonna ,Sabahattin Ali</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb2">
                    <img src="../static/kurk-mantolu-maddonna.jpg"  class="left-image" width="250" id="bookImage27">
                    
                        <p style="color: #000033;">
                            Kürk Mantolu Madonna, Raif Efendi adında sıradan bir adamın hikayesini anlatır. Raif, İstanbul'da küçük bir ofiste çalışan, içine kapanık, sessiz bir kişiliktir. Bir gün, bir arkadaşının tavsiyesi üzerine bir sanat galerisine gider ve orada, Madonna adlı bir tabloyu görür. Tablo, Maria Puder adında bir kadının resmedildiği, kürk mantolu bir portredir. Raif, bu tabloya karşı duyduğu derin bir hayranlıkla, Maria Puder'a olan aşkını anlatan bir hikaye başlatır.Raif'in anlatısı, onun Maria'ya olan tutkulu aşkını ve bu aşkın hayatındaki büyük etkilerini keşfetmemize olanak tanır. 
                            <span id="dots27">...</span>
                            <span id="more-text27" class="more-text">
                            Ancak Maria Puder, Raif’in hayalini kurduğu gibi bir kadın değildir. O, özgür ruhlu, bağımsız bir kadındır ve Raif’in aşkına karşılık vermez. Bununla birlikte, Raif, Maria'ya olan derin sevgisini hiç bir zaman tam olarak dile getiremez ve sürekli olarak onun etrafında dönen bir melankoli içinde yaşamını sürdürür.Roman, Raif Efendi’nin içsel dünyasında yaşadığı yalnızlık, aşk, tutku ve hayal kırıklıkları arasında bir yolculuğa çıkar. Aynı zamanda, Raif’in, hayattaki en derin duygusal bağını kurduğu kadının hayalini kurduğu şekilde algılayıp onu gerçeklikten ayırması, kitabın dramatik yapısını oluşturur.
                            </span>
                            <button onclick="toggleText('dots27', 'more-text27', 'read-more-btn27')" id="read-more-btn27" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                       
                        </p>
                        <img src="../static/Sabahattin_ali.jpg" class="right-image-roman" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            
        </article> 

        <article style="background-color:#FAF0E6">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;"> Uçurtma Avcısı ,Khaled Hosseini</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb3">
                    <img src="../static/ucurtma-avcısı.jpg"  class="left-image" width="250" id="bookImage28">
                    
                        <p style="color: #000033;">
                            Roman, Amir adlı bir Afgan gencinin hayatını anlatır. Amir, 1970’lerin sonlarında, Kabil'de zengin bir ailenin tek oğludur. Çocukluk arkadaşı ve aynı zamanda hizmetkârlarının oğlu olan Hassan ile çok yakın bir ilişkisi vardır. Ancak Amir, sınıf farklılıkları nedeniyle Hassan ile gerçek anlamda arkadaşlık kurmaktan kaçınır ve zamanla onunla olan ilişkisini ihmal eder.Bir gün, Amir ve Hassan uçurtma yarışmasına katılırlar. Amir, kazandığı yarışmanın ardından, Hassan’ı aşağılayan ve fiziksel olarak zorlayan bir grup çocuk tarafından zorbalığa uğramasına tanık olur. Ancak Amir, bu olay karşısında sessiz kalır ve Hassan'a yardım etmez. 
                            <span id="dots28">...</span>
                            <span id="more-text28" class="more-text">
                            Bu ihanet, ikisi arasındaki dostluğu sona erdirir ve Hassan, Amir'e hayatı boyunca unutamayacağı bir acı bırakır.Afganistan'daki savaş ortamı ve Sovyet işgali, hikayenin ilerleyen bölümlerinde önemli bir rol oynar. Amir, yaşadığı suçluluk duygusuyla yıllarca savaşır, ülkesini terk eder ve Amerika'ya göç eder. Ancak, yıllar sonra, Amir'in geçmişiyle yüzleşmesi gerekir. Hassan’ın ölümü, Amir’in affedilme ve kendisini kurtarma yolculuğuna çıkmasına neden olur. Bu yolculuk, Amir’in geçmişiyle hesaplaşmasını, Hassan’a olan borcunu ödemesini ve nihayetinde affı aramasını içerir.
                            </span>
                            <button onclick="toggleText('dots28', 'more-text28', 'read-more-btn28')" id="read-more-btn28" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                        
                        </p>
                        <img src="../static/Khaled_Hosseini.jpg" class="right-image-roman" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            


        </article>

        <article style="background-color:#FAF0E6">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;">Aşkımız Eski Bir Roman ,Ahmet Ümit</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb4">
                    <img src="../static/askimiz-eski-bir-roman.jpg"  class="left-image" width="250" id="bookImage29">
                    
                        <p style="color: #000033;">
                            Aşkımız Eski Bir Roman, Selim adında bir roman yazarı ile onun geçmişteki aşkını keşfetmeye çalışan bir kadının hikayesini anlatır. Selim, başarılı bir yazar olmasına rağmen, içsel dünyasında büyük bir boşluk ve kırıklık taşımaktadır. Bir gün, eski bir arkadaşı ona eski bir aşkı hatırlatan bir roman yazması için bir teklif sunar. Bu teklif, Selim'in geçmişe, kaybolan aşklara ve unutulmuş anılara olan yolculuğunu başlatır.Romanın kahramanı Selim, gençliğinde büyük bir aşkla bağlandığı Ferda adlı bir kadına duyduğu sevgiyi yazıya dökmek zorunda kalır. Ferda, Selim’in hayatındaki en önemli kadındır, ancak bir şekilde birbirlerinden uzaklaşmışlardır.
                            <span id="dots29">...</span>
                            <span id="more-text29" class="more-text">
                            Selim, geçmişteki aşkını yazarken, hem kendi içsel dünyasında derin bir hesaplaşma yaşar hem de Ferda'nın kaybolan izlerini bulmak için eski hatıralarını yeniden keşfeder.Roman boyunca, Selim’in geçmişi ve bugünü arasında gidip gelinerek, bir aşkın ne kadar derin ve kalıcı olabileceği sorgulanır. Ayrıca, yazarın içsel çatışmaları, yazınsal yaratım süreci ve kişisel kimlik arayışı da romanın temel unsurlarındandır.
                            </span>
                            <button onclick="toggleText('dots29', 'more-text29', 'read-more-btn29')" id="read-more-btn29" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                        
                        </p>
                        <img src="../static/Ahmet-UMIT.jpg" class="right-image-roman" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
           

        </article>

        <article style="background-color:#FAF0E6">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;">Dönüşüm ,Franz Kafka</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb5">
                    <img src="../static/donusum.jpg"  class="left-image" width="250" id="bookImage30">
                    
                        <p style="color: #000033;">
                            Dönüşüm, Gregor Samsa adında bir adamın bir sabah, dev bir böceğe dönüşerek uyanmasıyla başlar. Gregor, normalde bir işadamıdır ve ailesine bakmak için çalışmaktadır. Ancak, bir sabah, kendisini dev bir böcek olarak bulur. Bu korkunç dönüşüm, Gregor’un yaşamını tamamen değiştirir. Artık bedeni, iş gücünü ve ailesine sağladığı gelirini sağlayan bir organ olmaktan çıkmış, tamamen dışlanmış ve yaşamla bağlantısını kaybetmiş bir varlık haline gelmiştir.
                            <span id="dots30">...</span>
                            <span id="more-text30" class="more-text">
                            Gregor’un ailesi, başlangıçta ona yardım etmeye çalışsa da zamanla ondan korkar ve giderek daha fazla yabancılaşır. Ailesi, onunla ilgilenmek yerine, onu bir yük olarak görmeye başlar. Gregor'un yaşamı, dışsal dönüşümünün yanı sıra, içsel bir yabancılaşma ve yalnızlıkla da şekillenir. Ailesi onu ve insanlıkla olan bağlarını terk ederken, Gregor’un hayatı daha da anlamını yitirir.Gregor’un dönüşümü ve sonrasında yaşadığı yabancılaşma, Kafka'nın insanın toplumla, aileyle ve hatta kendisiyle olan ilişkilerini sorgulayan derin bir eleştirisidir. Bu süreçte, Gregor'un bireysel kimliği, toplumdaki yerini ve aile içindeki rolünü kaybetmesiyle birlikte, bir tür varoluşsal yalnızlıkla karşı karşıya gelir.
                            </span>
                            <button onclick="toggleText('dots30', 'more-text30', 'read-more-btn30')" id="read-more-btn30" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                    
                        </p>
                        <img src="../static/Kafka.jpg" class="right-image-roman" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>    
            

        </article>

        <article style="background-color:#FAF0E6">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;"> Bir Ömür Nasıl Yaşanır? ,İlber Ortaylı</h4>
            <div class="images-text-wrapper">
                <div class="TurkEdeb6">
                    <img src="../static/bir-omur-nasil-yasanir.jpg"  class="left-image" width="250" id="bookImage31">
                    
                        <p style="color: #000033;">
                            Bir Ömür Nasıl Yaşanır?, İlber Ortaylı’nın yaşam boyunca edindiği tecrübeler ışığında, bir insanın nasıl daha anlamlı ve verimli bir hayat sürebileceği üzerine derinlemesine düşüncelerini içeren bir eserdir. Kitap, insanın kendi yaşamını nasıl daha bilinçli ve kaliteli hale getirebileceğine dair öneriler ve görüşler sunar. Ortaylı, bu eserde tarihsel bir perspektife sahip olmakla birlikte, kişisel gelişim, kültür, eğitim ve yaşam felsefesi gibi evrensel konuları ele alır
                            <span id="dots31">...</span>
                            <span id="more-text31" class="more-text">
                            Kitabın temel amacı, insanlara hayatın her alanında daha bilinçli, dikkatli ve anlamlı bir şekilde yaşamanın yollarını göstermektir. Ortaylı, hayatta başarılı olmak için sadece dışsal faktörlere odaklanmanın yeterli olmadığını, içsel gelişim ve entelektüel birikim için çaba sarf edilmesi gerektiğini vurgular. Ayrıca, okumayı, kültürel birikimi artırmayı ve sürekli öğrenmeyi teşvik eder.Ortaylı, geçmişin bilgeliğinden faydalanarak, tarihsel örnekler ve kişisel deneyimlerinden yola çıkarak insanın hayatını nasıl daha anlamlı ve değerli kılabileceği üzerine düşüncelerini aktarır. Kitap, felsefi bir altyapıya sahip olup, aynı zamanda pratik tavsiyeler de sunar. Ortaylı, insanın yaşam yolculuğunda karşılaşabileceği zorlukları aşma yolları, doğru kararlar alma ve yaşamın her anını daha verimli değerlendirme konusunda rehberlik eder.
                            </span>
                            <button onclick="toggleText('dots31', 'more-text31', 'read-more-btn31')" id="read-more-btn31" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                    
                        </p>
                        <img src="../static/ilber-ortayli.jpg" class="right-image-roman" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
           
        </article>

        <article style="background-color:#FAF0E6">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;"> Altın Gözde Yansımalar ,Carson McCullers</h4>
            <div class="images-text-wrapper">
                <div class="TurkEdeb7">
                    <img src="../static/altingozdeyansimalar.jpg"  class="left-image" width="250" id="bookImage32">
                    
                        <p style="color: #000033;">
                            Altın Gözde Yansımalar, John Singer adında, sağır ve dilsiz bir adamın etrafında döner. John Singer, bir zamanlar zengin bir adamın hizmetkârı olan, fakat şimdi yalnız yaşayan ve kendi iç dünyasında boğulan bir kişidir. O, bir kasabada yaşamaktadır ve kasaba halkı, yalnızlık ve içsel huzursuzluklarıyla onun yanına gelirler. Her biri bir şekilde derin bir boşluk içindedir ve Singer’in sessizliğinde kendilerini dinleyebilecekleri bir arkadaş bulurlar.Roman, Singer'in hayatına dokunan bir dizi karakterin içsel dünyalarını keşfeder. Bu karakterlerden bazıları, Mick Kelly, genç bir kızdır ve müzikle ilgilenir;
                            <span id="dots32">...</span>
                            <span id="more-text32" class="more-text">
                            Dr. Benedict Copeland, ırkçılığa karşı mücadele eden bir siyahi doktordur; Jake Blount, bir işçi hakları savunucusudur; ve Biff Brannon, kasabanın kafeteryasının sahibidir. Her bir karakterin farklı bir kişisel mücadeleye ve içsel boşluğa sahip olması, kitabın temel temasını oluşturur: İnsanların, yalnızlıklarını ve anlaşılmamışlıklarını aşmak için birbirlerine nasıl ihtiyaç duydukları.Singer, başlangıçta herkesin sorunlarına yardımcı olmaya çalışsa da, sonunda, kendi yalnızlığıyla yüzleşmek zorunda kalır. Romanın sonunda, bu karakterlerin çoğu, birbirlerine duydukları ihtiyaçla, toplumun dışladığı ya da görmezden geldiği bireylerin bir araya gelmesini simgeler.
                            </span>
                            <button onclick="toggleText('dots32', 'more-text32', 'read-more-btn32')" id="read-more-btn32" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                    
                        </p>
                        <img src="../static/carson-mccullers.jpg" class="right-image-roman" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            
        </article>

        <article style="background-color:#FAF0E6">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;"> Bilinmeyen Bir Kadının Mektubu ,Stefan Zweig</h4>
            <div class="images-text-wrapper">
                <div class="TurkEdeb8">
                    <img src="../static/bilinmeyen-bir-kadin-mektubu.jpg"  class="left-image" width="250" id="bookImage33">
                    
                        <p style="color: #000033;">
                            Bilinmeyen Bir Kadının Mektubu, bir kadının, yıllar sonra geçmişteki büyük aşkını anlatan bir mektup yazmasıyla başlar. Kadın, hayatının büyük bir bölümünü, kendisini tanımayan ve ona karşı duygu beslemeyen bir erkeğe olan aşkıyla geçirmiştir. Mektubun yazarı, adını hiçbir zaman açıklamayan bu kadının, yıllar sonra eski sevgilisine, ona duyduğu derin aşkı ve hayal kırıklıklarını anlatmak üzere kaleme aldığı uzun bir yazıdır.Mektubu yazan kadın, bir zamanlar, erkek için sıradan bir insan olmaktan öteye gitmeyen, ama ona derin bir aşkla bağlı olan bir kadındır. Kadın, adını hiçbir zaman erkeğe açıklamamış ve onunla sadece birkaç kısa anı paylaşabilmiştir. Kadın, yaşamı boyunca erkeği sürekli gözlemiş, onu uzaktan sevmiş ve en yakınlarında bile onun kim olduğunu, nasıl bir insan olduğunu derinlemesine anlamıştır. 
                            <span id="dots33">...</span>
                            <span id="more-text33" class="more-text">
                            Ancak, erkek kadını tanımamaktadır, çünkü kadın her zaman bir gölge gibi onun hayatında var olmuştur. Mektup, bu kadının erkeğe duyduğu gizli, bir türlü karşılık bulamayan, unutulmuş ama bir o kadar da güçlü ve tutkulu aşkının izlerini taşır.Kadın, bu mektubu yazarken, yıllarca içinde biriktirdiği duygusal yükleri dışa vurur. Onun için bu yazışma, bir çeşit çözüm arayışı ve içsel bir hesaplaşmadır. Zamanla, kadının anlattığı anıların ve duygularının arka planında, erkeğin kadına duyduğu ilgisizlik, unutkanlık ve kadının ona karşı duyduğu aşkın boyutları açığa çıkar. Roman, aşkın tek taraflı doğasını, çaresizlik ve takıntı gibi temalarla derinlemesine işler.
                            </span>
                            <button onclick="toggleText('dots33', 'more-text33', 'read-more-btn33')" id="read-more-btn33" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                    
                        </p>
                        <img src="../static/Stefan_Zweig.jpg" class="right-image-roman" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            
        </article>


        <script>

                document.addEventListener("DOMContentLoaded", function() {
                        toggleText('dots26', 'more-text26', 'read-more-btn26')
                        toggleText('dots27', 'more-text27', 'read-more-btn27')
                        toggleText('dots28', 'more-text28', 'read-more-btn28')
                        toggleText('dots29', 'more-text29', 'read-more-btn29')
                        toggleText('dots30', 'more-text30', 'read-more-btn30')
                        toggleText('dots31', 'more-text31', 'read-more-btn31')
                        toggleText('dots32', 'more-text32', 'read-more-btn32')
                        toggleText('dots33', 'more-text33', 'read-more-btn33');     
                        
                        // Sayfa yüklenirken metni kısalt
                    });
                function toggleText(dotsId, moreTextId, btnId) {
                var dots = document.getElementById(dotsId);
                var moreText = document.getElementById(moreTextId);
                var btnText = document.getElementById(btnId);
            
                if (moreText.style.display === "none") {
                    moreText.style.display = "inline";
                    dots.style.display = "none";
                    btnText.innerHTML = "Daha Az Göster";
                } else {
                    moreText.style.display = "none";
                    dots.style.display = "inline";
                    btnText.innerHTML = "Devamını Oku";
                }
            }
        </script>
    
    
    
    </section>





    <script>
        // Sayfa yüklendiğinde localStorage'dan mevcut favorileri al
        let favorites = JSON.parse(localStorage.getItem('favorites')) || [];
    
        function addToFavorites(imageId) {
            const imageSrc = document.getElementById(imageId).src;
            
            if (!favorites.includes(imageSrc)) {
                favorites.push(imageSrc);
                alert("Kitap favorilere eklendi!");
            } else {
                favorites = favorites.filter(fav => fav !== imageSrc); // Favorilerden çıkar
                alert("Kitap favorilerden çıkarıldı!");
            }
            
            localStorage.setItem('favorites', JSON.stringify(favorites)); // Favorileri localStorage'a kaydet
            displayFavorites(); // Favorileri güncelle
        }
    
        function displayFavorites() {
            const favoritesDisplay = document.getElementById('favoritesDisplay');
            favoritesDisplay.innerHTML = ''; // Önceki içerikleri temizle
    
            favorites.forEach(src => {
                const img = document.createElement('img');
                img.src = src;
                img.className = 'favorite-image'; // CSS sınıfı
                favoritesDisplay.appendChild(img);
            });
        }
    
        // Sayfa yüklendiğinde favorileri göster
        displayFavorites();
    </script>

    <footer style="color: whitesmoke; font-weight:700;">
        <p>&copy; 2024 Kitap Önerileri. Tüm Hakları Saklıdır.</p>
    </footer>

</body>
</html>
