<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kitap Önerileri</title>
        <link rel="stylesheet" href="../static/styles.css"> <!-- CSS dosyasını bağlama -->
        <script src="../static/scripts.js" defer></script> <!-- JavaScript dosyasını ekle -->
    </head>
    
<body class="siir-body"> <!-- class ekleyin -->
    <header>
        <div class="header-container">
            <img src="../static/siir-sol.jpg" alt="Sol Resim" class="side-image left" width="200" height="250"> <br>
            
        </div>
        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/dklasik">Dünya Klasikleri</a></li>
                <li><a href="/tklasik">Türkiye Edebiyatında İlkler</a></li>
                <li><a href="/bilimk">Bilim Kurgu</a></li>
                <li><a href="/polisiye">Polisiye</a></li>
                <li><a href="/romanlar">Romanlar</a></li>
            </ul>
        </nav>
        <img src="../static/siir-sag.jpg" alt="Sağ Resim" class="side-image right" width="200" height="250">
    </header>

    <h2 style="font-family: Garamond; color: whitesmoke;"> Şiirler </h2>
    <section style="background-color :#3E2B2B" id="turkE" >
    
        <article style="background-color:#5A3D31">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;">Memleketimden İnsan Manzaraları ,Nazım Hikmet
            </h4>
              
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb1">
                    <img src="../static/memleketimden-insanlar.jpg"  class="left-image" width="250" id="bookImage34">
                        <p style="color: #000033;">
                            Memleketimden İnsan Manzaraları, adından da anlaşılacağı üzere, Nazım Hikmet’in memleketi olan Türkiye'nin çeşitli kesimlerinden, özellikle yoksul, işçi, köylü ve toplumun marjinalleşmiş insanlarının yaşamlarına dair derin bir içgörü sunar. Kitap, farklı sosyal sınıflardan ve yaşam koşullarından gelen insanları ve onların dramalarını konu alır.Şiir, bir nevi toplumsal bir tabloyu yansıtarak, Türkiye'deki siyasi, sosyal ve ekonomik yapıyı ele alır. Kitapta, çeşitli toplumsal sınıflardan insanların yaşamı, düşünceleri, umutları ve hayal kırıklıkları çarpıcı bir şekilde anlatılır. 
                            <span id="dots34">...</span>
                            <span id="more-text34" class="more-text">   
                            Nazım Hikmet, halkın yalnızca acılarını ve mücadelelerini değil, aynı zamanda onların dirençlerini, umutlarını ve insanlıklarını da dile getirir.Kitap, Nazım Hikmet’in şair kimliğinin çok güçlü bir şekilde ortaya çıktığı bir eserdir. Şair, toplumun her kesiminden karakterlere yer verirken, onların duygusal durumlarını ve toplumsal koşullarını dile getirirken güçlü bir empati kurar. Hem bireysel hem de toplumsal bir bakış açısıyla yazılmıştır.
                            </span>
                        <button onclick="toggleText('dots34', 'more-text34', 'read-more-btn34')" id="read-more-btn34" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                        <br><br><br>
                        "Memleketimden İnsan Manzaraları" kitabından önemli bir dörtlük: <br>

                        "Ne güzel şeydir, <br>
                        Bir yudum su içmek <br>
                        Bir parça ekmek <br>
                        Bir akşam güneşiyle ısınmak..."
                        </p>
                        <img src="../static/nazim-hikmet.jpg" class="right-image-siir" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            
            </div>
            
        </article> 
           
        <article style="background-color:#5A3D31">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;">Sevda Sözleri ,Cemal Süreya</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb2">
                    <img src="../static/Sevda-Sozleri-Cemal-Sureya.jpg"  class="left-image" width="250" id="bookImage35">
                    
                        <p style="color: #000033;">
                            Sevda Sözleri, Cemal Süreya'nın aşk ve sevdaya dair yazdığı şiirlerden oluşan bir derlemedir. Kitap, aşkın hem tatlı hem de acı yanlarını, insan ruhunun karmaşıklığını anlatır. Süreya, şiirlerinde aşkın özlemlerini, kırılmalarını, özlemlerini ve hüzünlerini dile getirir. Sevda, şairin şiirlerinde bir tutku, bir hayatın anlamı, bazen bir arayış, bazen de bir kayıp olarak karşımıza çıkar. 
                            <span id="dots35">...</span>
                            <span id="more-text35" class="more-text">
                            Bu kitapta, Cemal Süreya'nın özgün dilini ve sembolizmi kullanarak, aşkı sadece bir duygu olarak değil, bir yaşam biçimi olarak da ele aldığını görmek mümkündür.Şiirlerde, aşkın insanı nasıl değiştirdiği, nasıl bir devinim içinde olduğu, insanların birbirine duyduğu özlem ve sevginin derinliği ve zamanla kaybolan ya da var olan ilişkilerdeki kırılmalar da incelenir. Bu bağlamda, kitabın konusu sevdayla, insanın içsel dünyası ve dış dünya arasındaki ilişkiyi birleştirir.
                            </span>
                            <button onclick="toggleText('dots35', 'more-text35', 'read-more-btn35')" id="read-more-btn35" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                            <br><br><br>

                            "Sevda Sözleri" kitabından önemli bir dörtlük: <br>
                            Seni düşünüyorum, <br>
                            Bir sigara içiyorum, <br>
                            Bir kadın sevişiyor <br>
                            Ve ben seni düşünüyorum.

                        </p>
                        <img src="../static/Cemal_Süreya.jpg" class="right-image-siir" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            
        </article> 

        <article style="background-color:#5A3D31">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;"> Hasretinden Prangalar Eskittim ,Ahmed Arif</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb3">
                    <img src="../static/hasretinden-prangalar-eskittim.jpg"  class="left-image" width="250" id="bookImage36">
                    
                        <p style="color: #000033;">
                            Hasretinden Prangalar Eskittim adlı şiir kitabı, özlem, hasret ve toplumsal acı üzerine yazılmış şiirlerden oluşur. Ahmed Arif, halkının çektiği acıları, toplumun en alt sınıflarındaki insanların çekişmelerini ve bu halkın içinde bulunduğu yalnızlıkları şiirlerine taşır.
                            <span id="dots36">...</span>
                            <span id="more-text36" class="more-text">
                            Aynı zamanda, bireysel bir seviyede şairin aşkı ve sevdayı nasıl deneyimlediği de bu eserde açıkça görülür.Kitapta, hapislik, özlem, prangalar ve toplumun dertleri ön plana çıkar. Şairin, halkın sesi olma çabası, onun şiirlerine yansımış ve bu şiirler, o dönemdeki toplumsal yapıyı anlamaya ve anlatmaya çalışmıştır.
                            </span>
                            <button onclick="toggleText('dots36', 'more-text36', 'read-more-btn36')" id="read-more-btn28" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                            <br><br><br>
                            "Hasretinden Prangalar Eskittim"  kitabından önemli bir dörtlük: <br>
                            Hasretinden prangalar eskittim, <br>
                            Yüreğimde bir ölü sevdim. <br>
                            Gövdemde korkular, başımda karanlık, <br>
                            İçimden çığlıklar, dışımda sessizlik.
                        </p>
                        <img src="../static/ahmed-arif.jpg" class="right-image-siir" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            


        </article>

        <article style="background-color:#5A3D31">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;">Yalnızlık Paylaşılmaz ,Özdemir Asaf</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb4">
                    <img src="../static/yalnizlik-paylasilmaz-yeni-kap.jpg"  class="left-image" width="250" id="bookImage37">
                    
                        <p style="color: #000033;">
                            Yalnızlık Paylaşılmaz, bireyin yalnızlıkla ve dünyadaki yalnızlıkla mücadelesini anlatır. Kitap, modern insanın yalnızlıkla yüzleşmesi, içsel boşlukları ve varoluşsal yalnızlık gibi temalarla şekillenir. Şiirlerde, yalnızlığın bir tür zihinsel hapsolma ve bireysel bir hüzün olarak ele alındığı görülür.
                            <span id="dots37">...</span>
                            <span id="more-text37" class="more-text">
                            Asaf, yalnızlığın her birey için farklı anlamlar taşıdığını, aynı zamanda insanların birbirleriyle ilişkilerinde yaşadıkları yalnızlıkları vurgular.Özdemir Asaf’ın şiirlerinde kelimelerin ekonomisi, duru dil ve güçlü imgeler dikkat çeker. Yalnızlık, Asaf’ın şiirlerinde sıkça işlenen bir tema olup, insanın içsel yolculuğuna dair düşündürücü bir bakış açısı sunar.
                            </span>
                            <button onclick="toggleText('dots37', 'more-text37', 'read-more-btn37')" id="read-more-btn37" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                            <br><br><br>
                            "Yalnızlık Paylaşılmaz"  kitabından önemli bir dörtlük: <br>
                            Yalnızlık paylaşılmaz, <br>
                            Herkes kendi yalnızlığında, <br>
                            Birlikte olmak için önce yalnız olmalı, <br>
                            Ama, kimse yalnız kalmamalı. <br>
                        </p>
                        <img src="../static/ozdemir-asaf.jpg" class="right-image-siir" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
           

        </article>

        <article style="background-color:#5A3D31">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;">Ben Sana Mecburum ,Attila İlhan</h4>
            <div class="images-text-wrapper"> 
                <div class="TurkEdeb5">
                    <img src="../static/ben-sana-mecburum.jpg"  class="left-image" width="250" id="bookImage38">
                    
                        <p style="color: #000033;">
                            Ben Sana Mecburum, bir aşk şiirleri kitabı olmakla birlikte, bağımlılıkla ilgili derin bir sorgulamadır. Şiir, şairin aşkı bir tutku, bağımlılık ve acı olarak deneyimlediğini ortaya koyar. İlhan, sevgiye duyduğu derin ihtiyacı, sevdiği insana olan bağımlılığını dile getirir ve bu duygunun içinde hem zayıflık hem de güç bulur. 
                            <span id="dots38">...</span>
                            <span id="more-text38" class="more-text">
                            Şiirlerde aşkın insanı nasıl hem yıkabileceği hem de güçlendirebileceği, sevmenin ve sevilmenin insan ruhundaki yaraları ve bütünleşme arayışını sorgular.Kitap, Attila İlhan’ın yoğun duygusal dile sahip şiirlerinden oluşur. Aşkın gücü ve zayıflığı, bağımlılık ve sevdanın bencilce ve evrensel yönleri bu eserde güçlü bir şekilde işlenmiştir.
                            </span>
                            <button onclick="toggleText('dots38', 'more-text38', 'read-more-btn38')" id="read-more-btn38" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                            <br><br><br>
                            "Ben Sana Mecburum"  kitabından önemli bir dörtlük: <br>
                            Ben sana mecburum, bilemezsin, <br>
                            Adını her an içimden bir çığlık gibi <br>
                            Geçiriyorum, <br>
                            Bütün bir ömrü seni düşünerek. <br>

                        </p>
                        <img src="../static/Attila_İlhan.jpg" class="right-image-siir" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>    
            

        </article>

        <article style="background-color:#5A3D31">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;"> Bütün Şiirleri ,Orhan Veli Kanık</h4>
            <div class="images-text-wrapper">
                <div class="TurkEdeb6">
                    <img src="../static/butun-siirleri.jpg"  class="left-image" width="250" id="bookImage39">
                    
                        <p style="color: #000033;">
                            Bütün Şiirleri, Orhan Veli’nin şiir hayatının evrimini yansıtan bir derlemedir. Orhan Veli, Garip hareketi ile başlayıp daha sonra bireysel şiirlerine kadar geniş bir temalar yelpazesinde yazmıştır. Şiirlerinde, günlük hayatın basit anları, insan ilişkileri, sosyal adaletsizlik ve aşk 
                            <span id="dots39">...</span>
                            <span id="more-text39" class="more-text">
                            gibi temalar öne çıkar. Dilin sadeliği ve özgünlüğü, Orhan Veli'nin şiirine dair en belirgin özelliklerden biridir. Şiirlerinde, halkın dilinden beslenen bir içtenlik ve samimiyet vardır.
                            </span>
                            <button onclick="toggleText('dots39', 'more-text39', 'read-more-btn39')" id="read-more-btn39" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                            <br><br><br>
                            "Bütün Şiirleri"  kitabından önemli bir dörtlük: <br>
                            "Beni de al, beni de al, <br>
                            Gökten düşen kuşu da al, <br>
                            Gölgeni de, her şeyini de <br>
                            Beni de al, beni de al…" 

                        </p>
                        <img src="../static/Orhan_Veli_Kanık.jpg" class="right-image-siir" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
           
        </article>

        <article style="background-color:#5A3D31">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;"> Çile ,Necip Fazıl Kısakürek</h4>
            <div class="images-text-wrapper">
                <div class="TurkEdeb7">
                    <img src="../static/cile_n.fazil-1277.jpg"  class="left-image" width="250" id="bookImage40">
                    
                        <p style="color: #000033;">
                            Çile, Necip Fazıl’ın toplumun yozlaşmış yapısına karşı duyduğu öfke, bireysel mücadele ve manevi arayış üzerine yazılmış şiirlerden oluşur. Eserde, insanın içsel dünyasındaki yalnızlık, toplumdaki adaletsizlikler, varoluşsal sorgulamalar ve Tanrı ile ilişki gibi derin konular işlenir. Necip Fazıl, şiirlerinde sıklıkla sosyal eleştiriler, aşk ve maneviyatla bağlantılı bireysel çileyi dile getirir.
                            <span id="dots40">...</span>
                            <span id="more-text40" class="more-text">
                            Çile’de, şairin bireysel ıstırapları ve toplumsal eleştirileri birleşir. Kitap, şairin mistik ve tasavvufi bir bakış açısına sahip olduğu dönemlerde yazılmıştır, bu yüzden manevi dünyayı anlamaya ve derinlemesine yaşamak istemekle ilgili bir yolculuğa çıkar.
                            </span>
                            <button onclick="toggleText('dots40', 'more-text40', 'read-more-btn40')" id="read-more-btn40" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                            <br><br><br>
                            "Çile"  kitabından önemli bir dörtlük: <br>
                            "Ve ben şimdi yalnızım, <br>
                            Bütün dünya üzerimde, <br>
                            Bir tek seni seviyorum, <br>
                            O da bir çile içinde."

                        </p>
                        <img src="../static/necip-fazil.jpg" class="right-image-siir" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            
        </article>

        <article style="background-color:#5A3D31">

            <h4 style="font-family: Arial, sans-serif; color: black; margin-left: 30px;"> Monna Rosa ,Sezai Karakoç</h4>
            <div class="images-text-wrapper">
                <div class="TurkEdeb8">
                    <img src="../static/mona-rosa.jpg"  class="left-image" width="250" id="bookImage41">
                    
                        <p style="color: #000033;">
                            Monna Rosa, Sezai Karakoç’un şiirlerinde insanın içsel yolculuğu, sevgi ve özlem gibi duygusal temaların yanı sıra toplumsal eleştiriyi de barındıran bir eserdir. Kitap, toplumun yozlaşmış yapısına karşı duyulan isyanı ve bireyin yalnızlıkla yüzleşmesini içerir. Bu şiirlerde, bireysel aşk ile toplumsal düzene karşı duyulan öfke ve varoluşsal sorgulamalar iç içe geçer. Monna Rosa, adını şairin bir aşkı veya bireysel bir varoluşu simgeleyen "Monna Rosa" figüründen alır.
                            <span id="dots41">...</span>
                            <span id="more-text41" class="more-text">
                            Sezai Karakoç, burada idealize edilmiş bir aşk üzerinden insan ve toplum arasındaki çatışmayı, bireysel arayışı ve gerçekle yüzleşmeyi işler. Aynı zamanda Monna Rosa, insanın içsel boşluğu ve dünyada aradığı anlamı bulma çabası üzerine bir şiirsel sorgulamadır
                            </span>
                            <button onclick="toggleText('dots41', 'more-text41', 'read-more-btn41')" id="read-more-btn41" style="color: #000033; background-color: #e6e6e6; border: none; padding: 5px; cursor: pointer;">Devamını Oku</button>
                            <br><br><br>
                            "Monna Rosa"  kitabından önemli bir dörtlük: <br>
                            "Bir tek seni sevdim, <br>
                            Bir tek seni bekledim, <br>
                            Karanlıklar içinde bir tek seni, <br>
                            Işık gibi, yıldız gibi."

                        </p>
                        <img src="../static/Sezai_Karakoç.jpg" class="right-image-siir" width="250">
                </div>
                <style>
                    #more-text {
                        display: none;
                    }
                </style>
            </div>
            
        </article>


        <script>

                document.addEventListener("DOMContentLoaded", function() {
                        toggleText('dots34', 'more-text34', 'read-more-btn34')
                        toggleText('dots35', 'more-text35', 'read-more-btn35')
                        toggleText('dots36', 'more-text36', 'read-more-btn36')
                        toggleText('dots37', 'more-text37', 'read-more-btn37')
                        toggleText('dots38', 'more-text38', 'read-more-btn38')
                        toggleText('dots39', 'more-text39', 'read-more-btn39')
                        toggleText('dots40', 'more-text40', 'read-more-btn40')
                        toggleText('dots41', 'more-text41', 'read-more-btn41');     
                        
                        // Sayfa yüklenirken metni kısalt
                    });
                function toggleText(dotsId, moreTextId, btnId) {
                var dots = document.getElementById(dotsId);
                var moreText = document.getElementById(moreTextId);
                var btnText = document.getElementById(btnId);
            
                if (moreText.style.display === "none") {
                    moreText.style.display = "inline";
                    dots.style.display = "none";
                    btnText.innerHTML = "Daha Az Göster";
                } else {
                    moreText.style.display = "none";
                    dots.style.display = "inline";
                    btnText.innerHTML = "Devamını Oku";
                }
            }
        </script>
    
    
    
    </section>





    <script>
        // Sayfa yüklendiğinde localStorage'dan mevcut favorileri al
        let favorites = JSON.parse(localStorage.getItem('favorites')) || [];
    
        function addToFavorites(imageId) {
            const imageSrc = document.getElementById(imageId).src;
            
            if (!favorites.includes(imageSrc)) {
                favorites.push(imageSrc);
                alert("Kitap favorilere eklendi!");
            } else {
                favorites = favorites.filter(fav => fav !== imageSrc); // Favorilerden çıkar
                alert("Kitap favorilerden çıkarıldı!");
            }
            
            localStorage.setItem('favorites', JSON.stringify(favorites)); // Favorileri localStorage'a kaydet
            displayFavorites(); // Favorileri güncelle
        }
    
        function displayFavorites() {
            const favoritesDisplay = document.getElementById('favoritesDisplay');
            favoritesDisplay.innerHTML = ''; // Önceki içerikleri temizle
    
            favorites.forEach(src => {
                const img = document.createElement('img');
                img.src = src;
                img.className = 'favorite-image'; // CSS sınıfı
                favoritesDisplay.appendChild(img);
            });
        }
    
        // Sayfa yüklendiğinde favorileri göster
        displayFavorites();
    </script>

    <footer style="color: whitesmoke; font-weight:700;">
        <p>&copy; 2024 Kitap Önerileri. Tüm Hakları Saklıdır.</p>
    </footer>

</body>
</html>
